/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



body {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1640px;
    justify-content:flex-start;
    margin: auto;
    height: 100%;

    background-color: rgb(251, 251, 251);


    box-sizing: border-box;
}

.panel-left {   
    display: flex;   
    flex-direction: column;
    
    flex:auto;
    flex-shrink: 0;

    /* width: 45%; */
    max-width: 738px;
    background-color: rgb(109, 154, 112);

    position:relative;

    justify-content:flex-start;
}

.panel-right {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    flex:auto;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content:center;

    background-color: white;

    max-width: 902px;
    /* width: 55%; */



}


.image {
    
    flex:auto;
    background-repeat: no-repeat;
    background-position: center;

    height: 1231px;
    width: 738px;
    background-image: url("./floofcropped.jpg");     
    background-size: 100%;

}


.logo {
    display: flex;
    justify-content: center;
    flex: auto;
    position:absolute;
    top: 60%;
    width: 100%;
    background-color: paleturquoise;
    opacity:.4;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 10rem, 20rem);
    font-style: italic;
    font-weight: 900;

    text-align: center;

}

.logo-text {
    flex: auto;
    text-align: center;
    overflow: hidden; 
    width: auto;

}


.intro {
    flex: auto;
    background-color: hsl(0, 0%, 97%);   
    width: auto;
    /* padding: calc(60px + 0.5vw);  */
}

.intro-text {
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(20px + 0.5vw);
    font-weight: 500;
    text-wrap: wrap;
    margin-top: 150px;
    padding: calc(60px + 0.5vw); 
}

.form-div {
    display: flex;
    flex-direction: column;
    flex: auto;

    padding-top: 50px;

    background-color: white;
    width: auto;

    
}


.form-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px;
    width: auto;
   }
  

.form-name, .form-contact, .form-pass  {
    padding-left: 100px;
} 

.form-row .form-pass {
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.49);
}

.end-div-form {
    height: 40px;

  
}

.form-inputs {
    flex: auto;
    flex-shrink: 0;
    width: 30px;
    
}
  
.form-row label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: calc(1.2rem);
    margin-top: 10px;
    margin-bottom: 10px;
  }

input {
    width: 250px;
    height: 30px;
    border-radius: 3px; 
    border: 1px solid;
    border-color: lightgrey;
    font-size: 18px;
}


input:focus {

    outline: none !important;
    border:1px solid blue;
    box-shadow: 0 0 10px #719ECE;  /* background-color: blue; */
}

.submission {
    flex: auto;

    height: 40vh;
    width: 100%;
    margin: 0px;
    background-color: hsl(0, 0%, 97%);   
}

  .subBtn {
    margin: 50px 100px;
    padding: 15px 40px;
    color: white;
    background-color: #8fb86c;
    border-width: 0px;
    border-color: #8fb86c;
    border-radius: 9px;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 1.4rem;
    box-shadow: black 0 5px 10px -5px;

}




.noMatch {
    margin-left: 100px;
    width: auto;
    color: red;
    display: block;
    margin-bottom: 20px;
}

.italic-word {
    font-style: italic;
}

.bold-word {
    font-weight: 900;
}

.submission p {
    font-size: 1=2rem;
    margin-left: 100px;
}

a {
    color: #596D48;   
}