body {

    display: flex;
    background-color: rgb(251, 251, 251);
}



.hero {
    display: flex;
    flex-direction: column;
    flex:auto;

    position:relative;
  

}


.image {
    background-color: rgb(109, 154, 112);
    height: 1200px;
    position:relative


}

.logo {
    position:absolute;
    top: 300px;
    height: 300px;
    width: 1000px;
    background-color: chartreuse;
    opacity:.2;

}

.panel {
    display: flex;
    flex-direction: column;
    flex:auto;
    height: 1200px;


}

.intro {
    flex: auto;
    background-color: rgb(240, 171, 189);

    height: 400px;

}

.form {
    flex: auto;

    background-color: rgb(196, 146, 245);
    height: 400px;


}
.submission {
    flex: auto;
    background-color: rgb(103, 136, 134);
    height: 400px;


}