body {
    display: flex;
    background-color: rgb(251, 251, 251);
    width: 100vw;
    height: 100vh;
    padding: 0px 10vw;

    box-sizing: border-box;
}

.panel-left {
    display: flex;
    flex-direction: column;
    flex:auto;

    position:relative;
    height: 100vh;
    width: 854px;


    justify-content: center;
    align-items: center;
}

.image {
    
    flex:auto;
    background-repeat: no-repeat;
    background-position: center;

    background-color: rgb(109, 154, 112);
    height: 100%;
    width: 100%;
   
    background-image: url("./floofy.jpg");      
}
img {
    object-fit: cover ;

}

.logo {
    display: flex;
    justify-content: center;
    flex: auto;
    position:absolute;
    top: 60vh;
    height: 200px;
    width: 100%;
    background-color: paleturquoise;
    opacity:.4;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: clamp(1rem, 10rem, 20rem);
    font-style: italic;
    font-weight: 900;

    text-align: center;

}

.logo-text {
    flex: 1;
    max-width: 100%;
    text-align: center;
    overflow: hidden;}

    



.panel-right {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    flex:auto;

    height: 100vh;
    width: 1705px;

    /* padding: 0px 10vw 0px 0px ; */
}

/* .above-intro {
    flex: auto;
    height: 10vh;
    background-color: hsl(0, 0%, 90%);
} */

.intro {
    flex: auto;
    background-color: hsl(0, 0%, 90%);

    font-size: calc(16px + 0.5vw);
    font-weight: 500;
    text-wrap: wrap;
   
    height: 20vh;
    width: 100%;
    /* padding: calc(60px + 0.5vw);  */
}

/* p {
    padding-right: calc(50px + 0.5vw);

} */
.form-div {
    display: flex;
    flex-direction: column;
    flex: auto;

    background-color: white;
    height: 40vh;
    width: 100%;
    /* padding: calc(60px + 0.5vw);  */

    border: 1px solid #D6D9DC;
    margin: 0 0 40px 0;
}


.form-row {
    display: flex;
    flex-direction: row;
    flex: auto;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    height: 10px;

    padding: 10px calc(20px + 0.5vw) ; 

  }
  


/* 
  .form-row input[type='text'], 
        input[type='email'], 
        input[type='password'], 
        input[type='tel']  {
    background-color: #FFFFFF;
    border: 1px solid #D6D9DC;
    /* border-radius: 3px; */
    /* width: 50%; */
    /* height: 1rem; */
    /* padding: 7px; */
    /* font-size: 14px; */
  /* } */ 



/* .form-name, .form-contact, .form-pass  {
    display: flex;
    flex: auto;
} */

.form-input{
    flex: auto;
    padding: 0px;
    margin-bottom: 5px;
    height: 20px;

}
  
.form-row label {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    margin-bottom: 2px;
    font-weight: 800;
  }





.submission {
    flex: auto;

    height: 40vh;
    width: 100%;
    margin: 0px;

    background-color: #c7d5ba;

}

  .subBtn {
    margin: 40px 40px;
    padding: 15px 40px;
    color: white;
    background-color: #596D48;
    border-width: 2px;
    border-color: #596D48;
    border-radius: 5%;
    font-family: 'Courier New', Courier, monospace;
    font-weight:800;
    font-size: 1.2rem;
    box-shadow: 2px 4px lightgrey;
}
